h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: lightblue;
}

h4{
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  color: green;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px #282828;
    
}


p{
    font-size: 16px;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}


body{
    background-color: rgb(235, 232, 238);
}

button {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  } 
   

  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
.container{

    display: grid;
    width: 95%;
    margin:auto;
    margin-top: 100px;
    

    grid-template-columns: 100%;
    grid-template-rows: 120px 70px 2080px 1fr;
    grid-gap: 5px;

    grid-template-areas: 
    "hd"
    "nb"
    "main"
    "ft";
}

.header{
    
    grid-area: hd;
    background-image: url("../assets/TomatoHeader.jpg");
    background-size:cover;
    background-repeat: repeat;
}
.navbar{
    display: flex;
    grid-area: nb;
}

.content{
    grid-area: main;
}

#nestedGrid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 340px 340px 340px 340px 340px 340px;
  grid-gap: 10px;
}

.card{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 51px 234px 51px;
    grid-template-areas:
    "PostTitle PostTitle"
    "PostImage PostText"
    "PostFt PostFt"; 

    font-size: 26px;
    border-radius: 5px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.2);
  }

  .cardTitle {
    grid-area: PostTitle;
    text-align: center;
  }

  .cardImg {
    border-radius: 20px;
    grid-area: PostImage;
  }

  .cardText {
    padding: 5px;
    grid-area: PostText;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  }

  .cardFt {
    grid-area: PostFt;
    font-size: 16px;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  }

  #cardImg1 {
    background-image: url("../assets/Varieties1.png");
    background-size: cover;

  }

  #cardImg2 {
    background-image: url("../assets/Tomato_life_cycle.jpg");
    background-size:cover;

  }

  #cardImg3 {
    background-image: url("../assets/CelebrityTomato.jpg");
    background-size: cover;

  }

  #cardImg4 {
    background-image: url("../assets/Canning.jpg");
    background-size: cover;

  }

  #cardImg5 {
    background-image: url("../assets/Soil.jpg");
    background-size: cover;

  }

  #cardImg6 {
    background-image: url("../assets/Sauce.jpg");
    background-size: cover;

  }

.footer{
    grid-area: ft;
    justify-items: center;
    align-items: center;
    background-image: url("../assets/Footer.png");
    background-size:contain;
}