h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: lightblue;
}

h2{
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: green;
  margin: 0;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px #282828;
    
}

h4{
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    color: red;
    text-decoration: underline;
    margin-bottom: 0;

}

p{
    font-size: 16px;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    display: flex;
    border:2px #4CAF50;
    padding: 0%;
    margin: 0%;

}

a{
  text-decoration: none;
}

body{
    background-color: rgb(235, 232, 238);
}

img {
  display: flex;
  justify-content: center;
  object-fit:fill;
  max-height: 100%;
  max-width: 100%;    
  margin: auto auto;
}

figcaption{
  color: #4CAF50;
  font-size: 16px;
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
} 
 

button:hover {
  background-color: #4CAF50;
  color: white;
}

.navButton {
    border: none;
    padding: 8px 16px;
    text-align: center;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black;
    border-radius: 25px;
    border: 2px solid #4CAF50;
  } 
   

  .navButton:hover {
    background-color: #4CAF50;
    color: white;
  }
  
.container{

    display: grid;
    width: 95%;
    margin:auto;
    margin-top: 100px;
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px 70px 100px 2850px 70px 1fr;
    grid-gap: 2px;

    grid-template-areas: 
    "hd hd"
    "nb nb"
    "BlogTitle BlogTitle"
    "main main"
    "postNav postNav"
    "ft ft";
}

.header{

    grid-area: hd;
    background-image: url("../assets/TomatoHeader.jpg");
    background-size:cover;
    background-repeat: repeat;
}
.navbar{
    display: flex;
    grid-area: nb;
}

.BlogTitle {
  grid-area: BlogTitle;
  margin: 0%;
  padding: 0%;
}

.content{
    grid-area: main;

}

.PostNav{
  grid-area: postNav;
  display: flex;
  justify-content: center;
  align-items: center;

}
#nestedGrid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 645px 645px 645px 645px 250px;
  grid-gap: 2px;
  grid-template-areas: 
  "ToprightContent"
  "TopleftContent"
  "BottomrightContent"
  "BottomleftContent"
  "Bio";
}

#TopleftContent{
  grid-area: TopleftContent;

}

#ToprightContent{
  grid-area: ToprightContent;
}

#BottomleftContent{
  grid-area: BottomleftContent;
}

#BottomrightContent{
  grid-area: BottomrightContent;
}

#Bio{
  grid-area: Bio;

}

footer{
  grid-area: ft;
  justify-items: center;
  align-items: center;
  background-image: url("../assets/Footer.png");
  background-size:contain;
}

.fa {
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}